.container {
    width: auto;
    min-height: 200px;
    max-height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.button {
    flex: 1;
    width: 100px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 6px;
    margin: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
}

#console {
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 6px 6px 6px;
    line-height: 2;
}